.circulo{
    border-radius: 50%;
    width: 150px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#maquina{
    width: 13ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(13), blinking 1s;
}
#maquina2{
    width: 31ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(31), blinking 1s;
}
#maquina3{
    width: 22ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(31), blinking 1s;
}
@keyframes typing{
    from {
        width: 0;
    }
}
@keyframes blinking {
    50% {
        border-color: transparent;
    }
}
img{
    border-width: 2px;
    border-style: outset;
    border-color: grey;
}
.texto-piscando{
    color: brown;
    margin: 2rem 0rem;
    text-align: center;
    animation: piscapisca 4s infinite;
}
@keyframes piscapisca{
    0% {color: red};
    10%{color: red}
    15%{color: red};
    20%{color: black};
    25%{color: black};
    35%{color: red};
    40%{color: red};
    45%{color: black};
    50%{color: red};
    60%{color: red};
    65%{color: black};
    70%{color: red};
    75%{color: red};
    85%{color: red};
    90%{color: red};
    95%{color: black};
    100%{color: red};

}